    <table>
        <thead>
            <tr>
                <th colspan="9">Sarjataulukko</th>
            </tr>
            <tr>
            <th>Nimi</th>
            <th>Kaupunki</th>
            <th>Ottelumäärä</th>
            <th>Voitot</th>
            <th>Tasapelit</th>
            <th>Tappiot</th>
            <th>Tehdyt maalit</th>
            <th>Päästetyt maalit</th>
            <th>Pisteet</th>
            </tr>
        </thead>
        <tbody>
                {{#each standings}}
                <tr>
                <td>{{this.Nimi}}</td>
                <td>{{this.Kaupunki}}</td>
                <td>{{this.Ottelumaara}}</td>
                <td>{{this.Voittoja}}</td>
                <td>{{this.Tasapeleja}}</td>
                <td>{{this.Tappioita}}</td>
                <td>{{this.Tehdyt_maalit}}</td>
                <td>{{this.Paastetyt_maalit}}</td>
                <td>{{this.Pisteet}}</td>
                </tr>
                {{/each}}
        </tbody>
    </table>
